$color_logo: #170f1c;
$color_title: #323333;
$color_tirtle_2:#646565;
$color_subtitle_gray: #848585;
$color_slider_dots:#d0d0d0;
$color_slider_bg: #eaebed;
$color_footer: #262b2e;
$color_header_bg: #eff0f2;
$color_nav_burger: #606061;
$color_button: #777879;

$color_text: #666767;
$color-text_2:#2c3938;
$color_text_4: #225450;
$color_text_italic: #767776;

$color_gray: #505050;
$color_white: #ffffff;
$color_white_2: #e0e0e0;
$color_white_3: #f8fafa;
$color_white_4: #f9fbfb;
$color_whote_5: #dbddde;
$color_aquamarine: #afede9;
$color_aqua: #70f5eb;
$color_aqua_2: #b2f2ee;
